* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* This is the variable to change how fast the pages turn!! */
html {
  --transition-timer: 1s;
}

body {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
  background-color: rgb(247, 247, 176);
}

.book {
  position: relative;
  width: 888px;
  height: 500px;
  transition: transform var(--transition-timer);
  z-index: 99999;
}

.page {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 3000px;
}

.front,
.back {
  border: 3px solid black;
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform var(--transition-timer) ease-in;
}

.front {
  z-index: 1;
  backface-visibility: hidden;
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Paper Flipping */
.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}

.back-content {
  transform: rotateY(180deg);
}
/* Control Buttons */
#prev-btn {
  transform: translateX(120px);
  border-radius: 0 25px 25px 0;
}
#next-btn {
  transform: translateX(-120px);
  border-radius: 25px 0 0 25px;
}

.control-btn {
  z-index: 1000000;
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 500px;
  width: 120px;
  transition: transform var(--transition-timer);
}

.control-btn:focus {
  outline: none;
}

.control-btn:hover {
  background: #15151572;
}

#p1 {
  z-index: 99998;
}
